input {
  border: 1px solid grey;
  display: inline-block;
  margin: 0.2rem auto;
  width: 120px;
  padding: 0 1rem;
  text-align: center;
  margin: 1rem 0; }
  input[type='text'] {
    height: 28px; }
    input[type='text']::placeholder {
      color: #426bf4;
      opacity: 0.2; }

input[type='text'] {
  display: inline-block;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem; }

.rating-form {
  width: 45px;
  padding: 0; }

button {
  cursor: pointer; }

label {
  padding: 0rem 0.5rem 0rem 1.25rem; }

.main {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto; }

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  width: 5rem;
  color: #426bf4;
  cursor: pointer;
  border: 1px solid #426bf4;
  box-shadow: 0rem 0rem 1rem grey;
  margin: 0 2px;
  height: 2.5rem; }

.button.timer:active {
  box-shadow: 0 3px 0 #426bf4; }

.primary {
  color: #f44162;
  border: 1px solid #f44162;
  width: 5rem;
  margin-left: 1rem;
  padding: 0.5rem;
  height: 25px; }

.primary:active {
  box-shadow: 0 3px 0 #f44162; }

.button.timer {
  height: 30px; }

button:focus {
  outline: none; }

.input-edit {
  display: inline;
  width: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 4px; }

.artist-rating {
  cursor: pointer; }

.button-edit {
  width: 42px;
  display: inline-block; }

.active {
  border: 3px solid #426bf4;
  color: #f44162; }

.active:active {
  box-shadow: 0 3px 0 #426bf4; }

i {
  visibility: hidden; }

.show {
  visibility: visible; }

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center; }

.artist-header {
  height: 20px; }

input {
  border: 1px solid grey;
  display: inline-block;
  margin: 0.2rem auto;
  width: 120px;
  padding: 0 1rem;
  text-align: center;
  margin: 1rem 0; }
  input[type='text'] {
    height: 28px; }
    input[type='text']::placeholder {
      color: #426bf4;
      opacity: 0.2; }

input[type='text'] {
  display: inline-block;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem; }

.rating-form {
  width: 45px;
  padding: 0; }

button {
  cursor: pointer; }

label {
  padding: 0rem 0.5rem 0rem 1.25rem; }

.main {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto; }

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  width: 5rem;
  color: #426bf4;
  cursor: pointer;
  border: 1px solid #426bf4;
  box-shadow: 0rem 0rem 1rem grey;
  margin: 0 2px;
  height: 2.5rem; }

.button.timer:active {
  box-shadow: 0 3px 0 #426bf4; }

.primary {
  color: #f44162;
  border: 1px solid #f44162;
  margin-left: 1rem;
  padding: 20px;
}

.primary:active {
  box-shadow: 0 3px 0 #f44162; }

.button.timer {
  height: 30px; }

button:focus {
  outline: none; }

.input-edit {
  display: inline;
  width: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 4px; }

.artist-rating {
  cursor: pointer; }

.button-edit {
  width: 42px;
  display: inline-block; }

.active {
  border: 3px solid #426bf4;
  color: #f44162; }

.active:active {
  box-shadow: 0 3px 0 #426bf4; }

i {
  visibility: hidden; }

.show {
  visibility: visible; }

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center; }

.artist-header {
  height: 20px; }

#bars {
  left: calc(50% - 20px);
  position: relative;
  width: 40px; }

.bar {
  background: #e20074;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px; }

.movement {
  animation: sound 0ms -800ms linear infinite alternate; }

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px; }
  100% {
    opacity: 1;
    height: 28px; } }

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms; }

.bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms; }

.bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms; }

.bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms; }

.bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms; }

.bar:nth-child(6) {
  left: 21px;
  animation-duration: 427ms; }

.bar:nth-child(7) {
  left: 25px;
  animation-duration: 441ms; }

.bar:nth-child(8) {
  left: 29px;
  animation-duration: 419ms; }

.bar:nth-child(9) {
  left: 33px;
  animation-duration: 487ms; }

.bar:nth-child(10) {
  left: 37px;
  animation-duration: 442ms; }

header {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: lightblue;
  font-size: 1.1rem;
  color: #f44162;
  box-shadow: 0rem 0rem 1rem grey;
  height: 4vh;
  min-height: 25px; }

.pinned-section .header {
  margin: 1rem 0 0 0; }

.pinned-section .header-img {
  width: 20px;
  height: 26px; }

.pinned-section .artist-well {
  display: inline-block;
  padding: 8px 5px 3px 6px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px grey, inset 2px 2px 4px grey; }
  .pinned-section .artist-well .flex {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 69px;
    min-width: 69px; }
    .pinned-section .artist-well .flex .name {
      font-size: 7.5px; }
    .pinned-section .artist-well .flex .pinned {
      width: 60px;
      height: 60px; }

.pinned-section .pin {
  position: absolute;
  top: 11%;
  width: 17px;
  left: 7%;
  color: #426bf4;
  display: none; }

.pinned-section .pin:hover {
  display: block;
  cursor: pointer; }

.timer-wrapper {
  justify-content: center;
  align-items: center;
  display: flex; }

.artist-input-wrapper {
  display: inline-block; }

.artist .pin {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  display: none; }

.artist .pin:hover {
  display: block;
  cursor: pointer; }

.artist .name {
  width: 95px;
  white-space: nowrap;
  line-height: 1rem; }

.stopwatch {
  border: 0.1rem solid black;
  display: inline-block;
  border-radius: 0.3rem;
  padding: 0.1rem 0.2rem;
  width: 80px; }

.inline-block2 {
  display: inline-block; }

.timer-form {
  display: inline-block;
  width: 65px; }

.hideTimer {
  visibility: hidden;
  display: inline-block; }

.showTimer {
  display: inline-block;
  visibility: visible; }

.x {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #426bf4;
  display: none; }

.x:hover {
  color: red;
  cursor: pointer; }

.relative-wrapper {
  position: relative;
  padding: 0 2px; }

.relative-wrapper:hover > div {
  display: block; }

.artist {
  display: inline-block;
  padding: 0.3rem;
  transition: transform 0.1s; }

.artist:hover {
  transform: scale(1.05); }

.line {
  border-bottom: 1px solid grey;
  width: 60%;
  margin: 0 auto;
  opacity: 0.3; }

.controls {
  padding: 1rem 0; }

.photo {
  width: 100px;
  height: 100px; }

.checkbox-check {
  width: 25px;
  margin: 0;
  padding: 0; }

.checkbox-name {
  display: inline-block; }

.checkbox-wrap:hover {
  display: block; }

.checkbox-wrap {
  font-size: 10px;
  position: absolute;
  top: 30px;
  left: 5px;
  background-color: white;
  display: none; }

.column {
  margin: 5px;
  padding: 3px;
  border: 0.05rem solid red;
  display: flex;
  flex-direction: column;
  color: #426bf4;
  text-align: right; }
  .column input {
    padding: 0;
    width: 20px;
    margin: 0; }
  .column label {
    padding: 0;
    margin: 0; }

.flash-msg {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  height: 50px;
  background-color: lightblue;
  border: 4px solid #42c2f4;
  color: #f44162;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  display: flex; }
  .flash-msg.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 3s, opacity 1s linear; }
  .flash-msg.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear; }

body,
html {
  margin: 0;
  font-family: sans-serif; }

main {
  padding: 0 1rem; }

* {
  box-sizing: border-box; }

img {
  width: 100%;
  height: 100%; }

section {
  margin: 1vh auto;
  text-align: center; }
