# Spotify API Credentials
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here

# MongoDB Connection
MONGODB_URI=your_mongodb_connection_string_here

# JWT Secret
JWT_SECRET=your_jwt_secret_here


NOTIFICATION_EMAIL=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password