.artist {
    /* border: 0.1rem solid green; */
    display: inline-block;
    padding: 0.3rem;
}

.pinned-section {
    /* border: 0.1rem solid green; */
}

section {
    margin: 3vh auto;

    text-align: center;
}

.controls {
    margin: 3vh auto;
}

img {
    width: 150px;
    height: 150px;
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

.x {
    position: absolute;
    top: 5%;
    right: 5%;
    color: red;
    display: none;
}

.relative-wrapper {
    position: relative;
}

.relative-wrapper:hover > div {
    display: block;
}
