.artist {
    /* border: 0.1rem solid green; */
    display: inline-block;
    padding: 0.3rem;
}

.pinned-section {
    /* border: 0.1rem solid green; */
}

section {
    margin: 3vh auto;

    text-align: center;
}

.controls {
    margin: 3vh auto;
}

img {
    width: 120px;
    height: 120px;
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

.x {
    position: absolute;
    top: 5%;
    right: 5%;
    color: red;
    display: none;
}

.relative-wrapper {
    position: relative;
    display: inline-block;
}

.relative-wrapper:hover > div {
    display: block;
}

.input-edit {
    display: inline;
    width: 40px;
}

.pinned {
    width: 60px;
    height: 60px;
}

.pinned-artist {
    display: inline-block;
    padding: 0 0.15rem;
}

.pinned-name {
    font-size: 10px;
}

.flash-msg {
    width: 300px;
    margin: 0 auto;
    z-index: 2;
    position: absolute;
    top: 0;
    left: calc(50% - 150px);
    background-color: lightblue;
    height: 50px;
    border: 4px solid #42c2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 3s, opacity 1s linear;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}
