.x {
    position: absolute;
    top: 5%;
    right: 5%;
    color: $secondary;
    display: none;
}
.x:hover {
    color: red;
    cursor: pointer;
}

.relative-wrapper {
    position: relative;
    padding: 0 2px;
}

.relative-wrapper:hover > div {
    display: block;
}

.artist {
    display: inline-block;
    padding: 0.3rem;
    transition: transform 0.1s;
}

.artist:hover {
    transform: scale(1.05);
}

.line {
    border-bottom: 1px solid grey;
    width: 60%;
    margin: 0 auto;
    opacity: 0.3;
}

.controls {
    padding: 1rem 0;
}

.photo {
    width: 100px;
    height: 100px;
}

.checkbox-check {
    width: 25px;
    margin: 0;
    padding: 0;
}
.checkbox-name {
    display: inline-block;
}
.checkbox-wrap:hover {
    display: block;
}
.checkbox-wrap {
    font-size: 10px;
    position: absolute;
    top: 30px;
    left: 5px;
    background-color: white;
    display: none;
}
.column {
    display: flex;
    flex-direction: column;
    color: #426bf4;
    // color: black;
    text-align: right;

    input {
        padding: 0;
        margin: 0;
    }
}
