.flash-msg {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    height: 50px;
    background-color: $background;
    border: 4px solid $border;
    color: $primary;
    padding: 0 1rem;
    @include flexbox-center;

    &.hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 3s, opacity 1s linear;
    }
    &.show {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s linear;
    }
}
