.pinned-section {
    .header {
        margin: 1rem 0 0 0;
    }
    .header-img {
        width: 20px;
        height: 26px;
    }
    .artist-well {
        display: inline-block;
        padding: 8px 5px 3px 6px;
        border-radius: 7px;
        box-shadow: 1px 1px 2px $shadow, inset 2px 2px 4px $shadow;

        .flex {
            @include flexbox-center;
            height: ($pinned-artist-height + 9px);
            min-width: ($pinned-artist-height + 9px);
            .name {
                font-size: 7.5px;
            }
            .pinned {
                width: $pinned-artist-height;
                height: $pinned-artist-height;
            }
        }
    }

    .pin {
        position: absolute;
        top: 11%;
        width: 17px;
        left: 7%;
        color: $secondary;
        display: none;
    }
    .pin:hover {
        display: block;
    }
}

.timer-wrapper {
    @include flexbox-center;
}

.artist-input-wrapper {
    display: inline-block;
}

.artist {
    .pin {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        display: none;
    }
    .pin:hover {
        display: block;
    }
}
