@import '_normalize';
@import '_breakpoints';

@import '_mixins';

@import '_colors';
@import '_variables';
@import '_forms';
@import '_forms';
@import '_music-graphic';

@import 'layout/_header';
@import 'layout/_top';
@import 'layout/_collection';
@import 'layout/_errors';

body,
html {
    margin: 0;
    font-family: sans-serif;
}

main {
    padding: 0 1rem;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

section {
    margin: 1vh auto;
    text-align: center;
}

.stopwatch {
    border: 0.1rem solid black;
    display: inline-block;
    border-radius: 0.3rem;
    padding: 0.1rem 0.2rem;
    width: 80px;
}

.inline-block2 {
    display: inline-block;
}

.timer-form {
    display: inline-block;
    width: 65px;
}

.hideTimer {
    visibility: hidden;
    display: inline-block;
}

.showTimer {
    display: inline-block;
    visibility: visible;
}

// -----------NOTHING BELOW HERE --------------------
